@media screen and (max-width: 767px) {
    body {
        font-size: 8px;
    }
    #grid-box {
        min-width: 1px;
        max-width: 98vw;
    }
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 16px;
    }
    #weather-icon-output {
        width: 75px;
    }
    .a-place-nearby div {
        height: 100px;
    }
    .a-place-nearby img {
        transform: translateY(-75px);
    }
  }