@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'carambola';
    src: url('../font/Dkcarambola-8ypn.otf');
}
:root {
    --border-style: 1px solid rgb(196, 196, 196);
    --one-third: calc(100%/3);
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgb(43, 43, 43);
    font-family: 'Roboto', sans-serif;
    background-color: #fcfcfc;
    transition: background-color 2s ease;
}
p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
h2, h4, h5, h6 {
    font-family: 'Major Mono Display', monospace;
}
h1, h3 {
    font-family: 'carambola', monospace;
}
h1, h2, h4, h5, h6, p {
    margin: 0;
}
h1 {
    font-size: 5em;
}
h2 {
    font-size: 3.5em;
    margin-top: 1.375rem;
    margin-bottom: 1.375rem;
}
h3 {
    font-size: 1.4em;
    line-height: 2.142857rem;
    margin: 1.071rem 0rem 1.071rem 0rem;
}
#bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(40%);
}
#dropdown {
    display: inline-block;
    margin: 0.7em;
}
#center-box {
    position: absolute;
    left: 50%;
    top: 5em;
    transform: translateX(-50%);
}
#preloader {
    position: relative;
    top: 20vh;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1.3em;
    padding-top: 3.33em;
    filter: drop-shadow(30px 30px 40px rgba(0, 0, 0, 0.5));
    background-color: rgb(255, 255, 255);
}
#preloader img, #preloader p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#preloader h3 {
    font-family: 'carambola';
}
#preloader img {
    animation-name: map-pin;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes map-pin {
    0%  {transform: translateY(-18px) translateX(-50%);}
    100%{transform: translateY(0px) translateX(-50%);}
}
#grid-box {
    border-radius: 20px;
    filter: drop-shadow(30px 30px 40px rgba(0, 0, 0, 0.5));
    background-color: rgb(255, 255, 255);
    width: fit-content;
    min-width: 650px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "current-area   current-area"
    "properties     properties"
    "places-nearby  places-nearby";
}
#properties {
    margin: 0.625em;
    grid-area: properties;
    display: grid;
    grid-template-columns: var(--one-third) var(--one-third) var(--one-third);
    grid-template-rows: auto;
    grid-template-areas: 
        "temp           feels-like      weather-description";
}
#properties div, #current-area {
    padding: 1.875em;
}
.meters-over-sea-level {
    display: inline;
}
#current-area {
    border-bottom: 3px groove rgb(196, 196, 196);
    grid-area: current-area;
}
#temp {
    border-right: var(--border-style);
    grid-area: temp;
}
#feels-like {
    border-right: var(--border-style);
    grid-area: feels-like;
}
#weather-description {
    grid-area: weather-description;
}
#places-nearby {
    grid-area: places-nearby;
}
.a-place-nearby {
    margin: 1.5625em;
}
.a-place-nearby div {
    display: flex;
}
.a-place-nearby img {
    border-radius: 15px;
    margin-left: 1rem;
}
.blur-me {
    filter: blur(4px);
    transition: filter ease 1s;
}